<div >
  <div class="container p-5">
    <div class="row">
      <div class="col-lg-6 col-12 col-md-12  text-center text-lg-start">
        <h1 class="homepage-h2">
          Create Your QR Code
          in Just a Few Clicks
        </h1>
        <p class="section2-text">
          Paste a url or enter text to create a QR code
        </p>
        <div class="d-flex justify-content-center justify-content-lg-start pb-4">
          <input type="text" class="section2-input" placeholder="Enter URL or Text"/>

        </div>
        <div class="d-flex justify-content-center justify-content-lg-start pb-4">
          <button id="generate" class="btn btn-primary btn-lg section2-btn">
            Generate
          </button>
        </div>

      </div>
      <div class="col-lg-6 col-12 col-md-12  text-center text-lg-start">
        <div class="d-flex justify-content-center">
          <div class="qr-code-container">

          </div>
        </div>
      </div>
    </div>

  </div>
</div>
