<app-header/>
<div style="background-color: #f7f7f7 ">
  <div class="container" style="padding-top: 30px; padding-bottom: 50px" >
    <div class="row">
      <div class="col-md-12 justify-content-center ">
        <h1 class="global-h1">Contacter nous</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 justify-content-center" style="width: 100%">
        <form class="contact-form" (ngSubmit)="onSubmit()">
          <div style="width: 100% ; height: 100px">
            @if (error){
              <div class="alert alert-dark mt-3" style="width: 100%" role="alert">
                {{this.error}}
              </div>
            }
          </div>

          <input required class="contact-input" type="text"  name="nom" placeholder="Nom" [(ngModel)]="nom">
          <input class="contact-input" type="text" required name="prenom" placeholder="Prenom" [(ngModel)]="prenom">
          <input class="contact-input" type="email" required name="email" placeholder="Email" [(ngModel)]="email">
          <input class="contact-input" type="text" required name="sujet" placeholder="Sujet" [(ngModel)]="sujet">
          <textarea class="contact-input" required name="message" placeholder="Message" [(ngModel)]="message"></textarea>
          <button class="contact-submit-button" type="submit">Envoyer</button>
        </form>

      </div>
    </div>
  </div>
</div>
<app-footer/>
