<app-header/>
<div style="background-color: #f7f7f7 ">
  <div class="container" style="padding-top: 50px; padding-bottom: 50px">

    <div class="row">
      <div class="col-md-12 justify-content-center ">
        <h1 class="global-h1">À propos de {{this.websiteName}}</h1>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 justify-content-center ">
        <p class="">Bienvenue sur {{this.websiteName}}, votre destination ultime pour la génération rapide et efficace de codes QR. Nous sommes passionnés par la simplicité et l'utilité, et notre outil a été conçu pour simplifier la création de codes QR pour divers besoins.</p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 justify-content-center ">
        <h2 class="global-h1">Notre Mission</h2>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 justify-content-center ">
        <p class="">Notre mission est de fournir un service convivial qui permet à chacun de générer des codes QR de manière simple et rapide. Que vous soyez un professionnel cherchant à promouvoir votre entreprise ou un utilisateur quotidien souhaitant partager des informations rapidement, {{this.websiteName}} est là pour répondre à vos besoins.</p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 justify-content-center ">
        <h2 class="global-h1">Fonctionnalités Clés</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 justify-content-center ">
        <h3 class="global-h1">Facilité d'utilisation</h3>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 justify-content-center ">
        <p class="">Nous avons conçu notre générateur de codes QR pour être accessible à tous, même sans connaissances techniques avancées. Quelques clics suffisent pour créer un code QR personnalisé.</p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 justify-content-center ">
        <h3 class="global-h1">Téléchargement en PDF et PNG</h3>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 justify-content-center ">
        <p class="">Ajoutez une touche personnelle à vos codes QR en choisissant parmi une variété d'options de personnalisation. Changez les couleurs, ajoutez du texte et adaptez-les à vos besoins spécifiques.</p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 justify-content-center ">
        <h3 class="global-h1">Polyvalence</h3>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 justify-content-center ">
        <p class="">Que vous ayez besoin de codes QR pour des liens Web, des coordonnées géographiques, des informations de contact ou d'autres données, notre générateur prend en charge une large gamme de types de contenus.</p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 justify-content-center ">
        <h2 class="global-h1">Sécurité et Confidentialité</h2>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 justify-content-center ">
        <p class="">Chez {{this.websiteName}}, nous comprenons l'importance de la sécurité des données. Vos informations sont traitées de manière sécurisée, et nous ne stockons jamais les données que vous générez.</p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 justify-content-center ">
        <br/>
        <p>Merci de faire partie de la communauté {{this.websiteName}} !</p>
      </div>
    </div>

  </div>
</div>
<app-footer/>
