<div style="background-color: #f7f7f7; height: 100vh">
  <div class="container section1-container" >
    <div class="row">
      <div class="col-lg-6 col-12 col-md-12  text-center text-lg-start">
        <h1 class="homepage-h1 pb-3">
          Create Your
          Free QR Codes
        </h1>
        <p class="section1-text pb-3">
          Create your own custom, high-quality QR codes with Wix
          QR Code Generator. Use QR codes to drive traffic and
          increase sales when customers scan your printed or
          digital code
        </p>
        <div class="d-flex justify-content-center justify-content-lg-start">
          <a href="#generate" class="btn btn-primary btn-lg section1-btn">
            Create QR Code
          </a>
        </div>
      </div>

    </div>

  </div>
</div>
