<div style="background-color: #f7f7f7; width: 100% !important;">
  <div class="container section1-container mb-5" >
    <div class="row pb-3" style="max-width: 100%; width: 100% !important;margin-inline: 2px;">
      <div  class="col-lg-6 col-12 col-md-12  text-center text-lg-start mb-3">
        <h1 class="homepage-h1">
          Créez vos Codes QR gratuitement
        </h1>
        <p class="section1-text pb-3">
          <!-- Créez vos propres codes QR personnalisés et de haute qualité avec le générateur de codes (Name).
          Utilisez les codes QR pour stimuler le trafic et augmenter les ventes lorsque les clients scannent votre code imprimé ou numérique.--->
          Créez vos propres codes QR personnalisés et de haute qualité, stimuler le trafic et augmenter les ventes lorsque les clients scannent votre code imprimé ou numérique.
        </p>
        <div class="d-flex justify-content-center justify-content-lg-start">
          <a href="#generate"  class="btn btn-primary btn-lg section1-btn">
            Créer un code QR
          </a>
        </div>
      </div>
      <div class="col-lg-6 col-12 col-md-12  text-center text-lg-start mb-3">
        <img src="assets/logo.png" style="height: 90%;width: 100%" height="630" width="1200" alt="logo">
      </div>
    </div>
  </div>
</div>
