/* You can add global styles to this file, and also import other style files */
canvas {
  width: 100% !important;
  height: 100% !important;
}
qrcode {
  width: 95% !important;
  height: 95% !important;
}
.qrcode  {
  width: 100% !important;
  height: 100% !important;
}


.global-btn{
  border-radius: 40px;
  background: #000;
  color: #FFF;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 34px; /* 188.889% */
}



